// find good font style form google

body{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:100 vh;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    font-family:'Poppins', sans-serif;
}

canvas{
    border: 2px solid #fff;
}

.score-container{
    display:flex;
    justify-content: space-between;
    width: 420px;
    font-size: 18px;
}

#restart-btn{
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #f4f4f4;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#game-over{

}